<section class="px-2 py-2 bg-black">
  <header [ngClass]="{'bar':nav}" class="fixed top-0 z-50 w-full flex items-center justify-between px-6 py-6">
    <div class="font-bold text-2xl"><i class="fa-solid fa-tape text-[#e4d804]"></i> MovFlex</div>
    <!-- Search Bar -->
    <form class="hidden md:flex items-center justify-between" #f="ngForm" (ngSubmit)="onSubmit(f)">
      <input class="border md:px-10 md:py-2 outline-transparent rounded-l-3xl text-slate-700 border-slate-200 focus:ring-[#e4d804] focus:ring-2" type="text" name="query"
        (ngModel)="inp">
      <button class="hidden md:block md:px-4 md:py-2 border border-[#e4d804] bg-[#e4d804] text-white font-bold drop-shadow-2xl rounded-r-3xl">Search</button>
    </form>
    <!-- Toggle Nav -->
    <div class="block md:hidden" (click)="toggleNav()"><i class="fa-solid fa-bars text-2xl text-white pr-2"></i></div>

    <div [class.nav]="isShow" class="w-2/3 h-screen flex flex-col items-center gap-2 pt-20 fixed right-0 top-0 z-50 backdrop-blur-3xl border-l-4 transition-transform duration-700 translate-x-[100%]">
      <i (click)="toggleNav()" class="fa-solid fa-xmark text-red-500 text-2xl absolute top-5 right-5"></i>

      <!-- Links -->
      <a (click)="toggleNav()" class="text-white text-lg font-bold drop-shadow-2xl" href="#trending">Trending</a>
      <a (click)="toggleNav()" class="text-white text-lg font-bold drop-shadow-2xl" href="#popular">Popular</a>
      <a (click)="toggleNav()" class="text-white text-lg font-bold drop-shadow-2xl" href="#upcoming">Upcoming</a>
      <a (click)="toggleNav()" class="text-white text-lg font-bold drop-shadow-2xl" href="#tv">Tv</a>
    </div>
  </header>
  <!-- Results -->
  <div *ngIf="out">
    <h1 class="font-bold text-2xl m-4 px-6">Results</h1>
    <div class="flex  m-4 w-full  items-center scroll-smooth rounded">
      <div class="flex px-4 overflow-x-scroll snap-x scroll-p-6 scroll-m-5 w-full">
        <div *ngFor="let movie of out" class="flex m-4 bg-gray-900 shadow-lg px-4 rounded-md">
          <div class="w-[200px] md:w-[320px] text-white">
            <img alt="image" class="object-cover object-center"
              src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}">
            <div class="mt-4">
              <h2 class="text-red-600 title-font text-lg font-medium">{{movie.title}}</h2>
              <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">{{movie.release_date | date:
                'longDate'}}
              </h3>
              <p class="mt-1"><i class="fa-solid fa-star text-[#f5c518] shadow-lg"></i> {{movie.vote_average | number:
                '1.0-0'}}/10</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Home Section -->
  <app-home></app-home>
</section>
